<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/output.css" />
    <script src="../../public/dropDown.js"></script>
    <title>Document</title>
  </head>
  <body>
    <nav class="bor border border-black">
      <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
          <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
            <!-- Mobile menu button-->
            <button
              type="button"
              class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-800 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
              aria-controls="mobile-menu"
              onclick="toggleNavMenu()"
              aria-expanded="false"
            >
              <span class="absolute -inset-0.5"></span>
              <span class="sr-only">Open main menu</span>
              <!--
                Icon when menu is closed.
    
                Menu open: "hidden", Menu closed: "block"
              -->
              <svg
                class="block h-6 w-6"
                id="menu-close-icon"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                />
              </svg>
              <!--
                Icon when menu is open.
    
                Menu open: "block", Menu closed: "hidden"
              -->
              <svg
                class="hidden h-6 w-6"
                id="menu-open-icon"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
            </button>
          </div>
          <!-- navigation and company logo -->
          <div
            class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
          >
            <div class="flex flex-shrink-0 items-center">
              <img
                class="h-8 w-auto"
                src="../../public/KK.png"
                alt="Kaam Konnect"
              />
            </div>
            <div class="hidden sm:ml-6 sm:block">
              <div class="flex space-x-4">
                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                <a
                  href="#"
                  class="rounded-md px-3 py-2 text-sm font-medium text-gray-800 hover:bg-gray-700 hover:text-white"
                  aria-current="page"
                  >Home</a
                >
                <a
                  href="#"
                  class="rounded-md px-3 py-2 text-sm font-medium text-gray-800 hover:bg-gray-700 hover:text-white"
                  >Team</a
                >
                <a
                  href="#"
                  class="rounded-md px-3 py-2 text-sm font-medium text-gray-800 hover:bg-gray-700 hover:text-white"
                  >Projects</a
                >
                <a
                  href="#"
                  class="rounded-md px-3 py-2 text-sm font-medium text-gray-800 hover:bg-gray-700 hover:text-white"
                  >Calendar</a
                >
              </div>
            </div>
          </div>
          <div
            class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
          >
            <!-- Profile dropdown -->
            <div class="relative ml-3">
              <div>
                <button
                  type="button"
                  onclick="toggleProfiledropdown()"
                  class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
                  id="user-menu-button"
                  aria-expanded="false"
                  aria-haspopup="true"
                >
                  <img
                    class="h-8 w-8 rounded-full"
                    src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                    alt=""
                  />
                </button>
              </div>

              <!--
                Dropdown menu, show/hide based on menu state.
    
                Entering: "transition ease-out duration-100"
                  From: "transform opacity-0 scale-95"
                  To: "transform opacity-100 scale-100"
                Leaving: "transition ease-in duration-75"
                  From: "transform opacity-100 scale-100"
                  To: "transform opacity-0 scale-95"
              -->
              <div
                class="hidden absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                id="profileDropdown"
                role="menu"
                aria-orientation="vertical"
                aria-labelledby="user-menu-button"
                tabindex="-1"
              >
                <!-- Active: "bg-gray-100", Not Active: "" -->
                <a
                  href="#"
                  class="block px-4 py-2 text-sm text-gray-700"
                  role="menuitem"
                  tabindex="-1"
                  id="user-menu-item-0"
                  >Your Profile</a
                >
                <a
                  href="#"
                  class="block px-4 py-2 text-sm text-gray-700"
                  role="menuitem"
                  tabindex="-1"
                  id="user-menu-item-1"
                  >Settings</a
                >
                <a
                  href="#"
                  class="block px-4 py-2 text-sm text-gray-700"
                  role="menuitem"
                  tabindex="-1"
                  id="user-menu-item-2"
                  >Sign out</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Mobile menu, show/hide based on menu state. -->
      <div class="hidden" id="dropdownNav">
        <div class="space-y-1 px-2 pb-3 pt-2">
          <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
          <a
            href="#"
            class="block rounded-md bg-gray-900 px-3 py-2 text-base font-medium text-white"
            aria-current="page"
            >Home</a
          >
          <a
            href="#"
            class="block rounded-md px-3 py-2 text-base font-medium text-gray-500 hover:bg-gray-700 hover:text-white"
            >About</a
          >
          <a
            href="#"
            class="block rounded-md px-3 py-2 text-base font-medium text-gray-500 hover:bg-gray-700 hover:text-white"
            >Work</a
          >
          <a
            href="#"
            class="block rounded-md px-3 py-2 text-base font-medium text-gray-500 hover:bg-gray-700 hover:text-white"
            >Worker</a
          >
        </div>
      </div>
    </nav>

    <div class="flex flex-col md:flex-row md:justify-between">
      <!--Sidebar-->
      <div
        class="flex flex-wrap justify-evenly flex-row border-b-2 md:block md:pt-6 md:h-auto md:w-40 md:border-r-2"
      >
        <!-- Buttons -->
        <button
          class="rounded-md px-3 py-2 text-sm font-medium hover:bg-gray-700 hover:text-white md:h-9 md:w-full md:mt-8"
        >
          Profile
        </button>
        <button
          class="rounded-md px-3 py-2 text-sm font-medium hover:bg-gray-700 hover:text-white text-gray-800 md:h-9 md:w-full md:mt-8"
        >
          Worker Details
        </button>
        <button
          onclick="toggleDashbaordDropdown()"
          class="rounded-md px-3 py-2 text-sm font-medium bg-gray-800 hover:bg-gray-700 text-white md:h-9 md:w-full md:mt-8"
        >
          Dashboard
        </button>
        <button
          class="rounded-md px-3 py-2 text-sm font-medium hover:bg-gray-700 hover:text-white text-gray-800 md:h-9 md:w-full md:mt-8"
        >
          Settings
        </button>
        <div
          id="dasnboardDropdownMenu"
          class="hidden border border-black absolute right-1 z-10 mt-10 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
          role="menu"
          aria-orientation="vertical"
          aria-labelledby="menu-button"
          tabindex="-1"
        >
          <div class="py-1" role="none">
            <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
            <a
              href="#"
              class="block px-4 py-2 text-sm text-gray-700"
              role="menuitem"
              tabindex="-1"
              id="menu-item-0"
              >Work Change</a
            >
            <a
              href="#"
              class="block px-4 py-2 text-sm text-gray-700"
              role="menuitem"
              tabindex="-1"
              id="menu-item-1"
              >Worker Change</a
            >
            <a
              href="#"
              class="block px-4 py-2 text-sm text-gray-700"
              role="menuitem"
              tabindex="-1"
              id="menu-item-2"
              >Change Password</a
            >
            <form method="POST" action="#" role="none">
              <button
                type="submit"
                class="block w-full px-4 py-2 text-left text-sm text-gray-700"
                role="menuitem"
                tabindex="-1"
                id="menu-item-3"
              >
                Delete Account
              </button>
            </form>
          </div>
        </div>
        <div class="w-full">
          <button
            class="rounded-md px-3 py-2 m-2 text-sm font-medium bg-gray-700 hover:bg-gray-600 text-white md:h-9 md:w-28 md:ml-10 hidden md:block"
          >
            Profile details
          </button>
          <button
            class="rounded-md px-3 py-2 m-2 text-sm font-medium text-gray-800 hover:bg-gray-600 hover:text-white md:h-9 md:w-28 md:ml-10 hidden md:block"
          >
            Work details
          </button>
          <button
            class="rounded-md px-3 py-2 m-2 text-sm font-medium text-gray-800 hover:bg-gray-600 hover:text-white md:h-9 md:w-28 md:ml-10 hidden md:block"
          >
            Password
          </button>
          <button
            class="rounded-md px-3 py-2 m-2 text-sm font-medium text-gray-800 hover:bg-gray-600 hover:text-white md:h-9 md:w-28 md:ml-10 hidden md:block"
          >
            Delete
          </button>
        </div>
      </div>
      <div
        class="flex flex-col items-center p-4 bg-[url('../../public/subtlebg.png')] md:flex-col md:justify-evenly md:p-4 w-full"
      >
        <p class="text-center font-semibold">Profile Details</p>
        <form action="POST" class="flex flex-col w-full space-y-3">
          <div
            class="flex flex-col items-center md:flex-row md:justify-evenly w-full"
          >
            <div class="my-3">
              <label for="Name">Name:</label>
              <input
                type="Name"
                class="border-[1px] border-gray-600 text-base p-2 text-gray-600 rounded-lg"
                placeholder="Name"
              />
            </div>
            <div class="my-3">
              <label for="Skill">Skill:</label>
              <input
                type="Text"
                class="border-[1px] border-gray-600 p-2 text-gray-600 rounded-lg"
                placeholder="Big brain"
              />
            </div>
          </div>
          <div
            class="flex flex-col items-center md:flex-row md:justify-evenly w-full"
          >
            <div class="my-3">
              <label for="Rating">Rating:</label>
              <input
                type="Rating"
                class="border-[1px] border-gray-600 p-2 text-gray-600 rounded-lg"
                placeholder="4 stars"
              />
            </div>
            <div class="my-3">
              <label for="Level">Skill Level:</label>
              <input
                type="Text"
                class="border-[1px] border-gray-600 p-2 text-gray-600 rounded-lg"
                placeholder="veryvery"
              />
            </div>
          </div>
          <div class="flex flex-col md:items-center px-5">
            <div>Description:</div>
            <textarea
              class="w-full h-48 text-wrap text-center border border-gray-600 p-2 text-gray-600 rounded-lg"
              placeholder="Lorem ipsum dolor sit amet consectetur adipisicing elit. At ipsum deleniti quisquam accusamus maiores inventore in
              veritatis fugiat quaerat dignissimos cum sapiente eligendi fuga
              tenetur consectetur, adipisci, culpa sit!Lorem Lorem ipsum dolor sit
              amet consectetur adipisicing elit. Nesciunt dolores molestias quidem
              praesentium optio eligendi esse aspernatur saepe nisi voluptatem
              delectus, doloribus, id dicta, ducimus quis necessitatibus magnam
              perspiciatis voluptas."
            >
Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati vero nisi iste dolores totam. Doloremque, tempore repellendus provident, labore impedit est molestiae enim officia ipsum, perspiciatis atque nihil qui quod? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, quas repellat? Expedita autem mollitia facilis nemo blanditiis in adipisci, molestias incidunt, exercitationem distinctio nam, quo amet nulla consectetur quam tempora?</textarea
            >
          </div>
          <div class="flex flex-col md:items-center px-5">
            <div>Avaivability:</div>
            <p class="border border-gray-600 p-2 text-gray-600 rounded-lg">
              times times times times times times time time time time time time
              time
            </p>
          </div>
          <div
            class="flex flex-col items-center md:flex-row md:justify-evenly w-full"
          >
            <div class="my-3">
              <label for="Experience">Experience:</label>
              <input
                type="text"
                class="border-[1px] border-gray-600 p-2 text-gray-600 rounded-lg"
                placeholder="69 years"
              />
            </div>
            <div class="my-3">
              <label for="Price">Price:</label>
              <input
                type="email"
                class="border-[1px] border-gray-600 p-2 text-gray-600 rounded-lg"
                placeholder="Price"
              />
            </div>
          </div>
          <div
            class="flex flex-col items-center md:flex-row md:justify-evenly w-full"
          >
            <div class="my-3">
              <label for="Location">Location:</label>
              <input
                type="Rating"
                class="border-[1px] border-gray-600 p-2 text-gray-600 rounded-lg"
                placeholder="Location"
              />
            </div>
            <div class="my-3">
              <label for="Email">Email:</label>
              <input
                type="email"
                class="border-[1px] border-gray-600 p-2 text-gray-600 rounded-lg"
                placeholder="Email"
              />
            </div>
          </div>
          <div class="flex flex-col md:items-center px-5">
            <div
              class="flex flex-col items-center md:flex-row md:justify-evenly w-full"
            >
              <button
                class="mt-4 h-8 w-40 border border-black bg-green-700 text-fuchsia-50 rounded-xl"
              >
                Submit Change
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!--FOOTER-->
    <footer class="relative bg-gray-200 pt-8 pb-6">
      <div class="container mx-auto px-4">
        <div class="flex flex-wrap text-left lg:text-left">
          <div class="w-full lg:w-6/12 px-4">
            <h4 class="text-3xl font-semibold text-gray-700">
              Let's keep in touch!
            </h4>
            <h5 class="text-lg mt-0 mb-2 text-gray-600">
              Find us on any of these platforms, we respond in 1-2 business
              days.
            </h5>
            <div class="mt-6 lg:mb-0 mb-6">
              <button
                class="bg-white text-blue-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                type="button"
              >
                <img src="../../public/instagram.png" alt="" />
              </button>
              <button
                class="bg-white text-blue-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                type="button"
              >
                <img src="../../public/facebook.png" />
              </button>
              <button
                class="bg-white text-pink-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                type="button"
              >
                <img src="../../public/twitter.png" alt="" />
              </button>
              <button
                class="bg-white text-gray-800 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                type="button"
              >
                <img src="../../public/linkedin.png" alt="" />
              </button>
            </div>
          </div>
          <div class="w-full lg:w-6/12 px-4">
            <div class="flex flex-wrap items-top mb-6">
              <div class="w-full lg:w-4/12 px-4 ml-auto">
                <span
                  class="block uppercase text-gray-500 text-sm font-semibold mb-2"
                >
                  Useful Links
                </span>
                <ul class="list-unstyled">
                  <li>
                    <a
                      class="text-gray-600 hover:text-gray-800 font-semibold block pb-2 text-sm"
                      href=""
                    >
                      About Us
                    </a>
                  </li>
                  <li>
                    <a
                      class="text-gray-600 hover:text-gray-800 font-semibold block pb-2 text-sm"
                      href=""
                    >
                      Blog
                    </a>
                  </li>
                  <li>
                    <a
                      class="text-gray-600 hover:text-gray-800 font-semibold block pb-2 text-sm"
                      href=""
                    >
                      Github
                    </a>
                  </li>
                  <li>
                    <a
                      class="text-gray-600 hover:text-gray-800 font-semibold block pb-2 text-sm"
                      href=""
                    >
                      Free Products
                    </a>
                  </li>
                </ul>
              </div>
              <div class="w-full lg:w-4/12 px-4">
                <span
                  class="block uppercase text-gray-500 text-sm font-semibold mb-2"
                >
                  Other Resources
                </span>
                <ul class="list-unstyled">
                  <li>
                    <a
                      class="text-gray-600 hover:text-gray-800 font-semibold block pb-2 text-sm"
                      href=""
                    >
                      MIT License
                    </a>
                  </li>
                  <li>
                    <a
                      class="text-gray-600 hover:text-gray-800 font-semibold block pb-2 text-sm"
                      href=""
                    >
                      Terms &amp; Conditions
                    </a>
                  </li>
                  <li>
                    <a
                      class="text-gray-600 hover:text-gray-800 font-semibold block pb-2 text-sm"
                      href=""
                    >
                      Privacy Policy
                    </a>
                  </li>
                  <li>
                    <a
                      class="text-gray-600 hover:text-gray-800 font-semibold block pb-2 text-sm"
                      href=""
                    >
                      Contact Us
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-6 border-gray-300" />
        <div
          class="flex flex-wrap items-center md:justify-between justify-center"
        >
          <div class="w-full md:w-4/12 px-4 mx-auto text-center">
            <div class="text-sm text-gray-500 font-semibold py-1">
              Copyright © 2021 Notus JS by
              <a href="" class="text-gray-500 hover:text-gray-800">
                Bikesh Maharjan </a
              >.
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
