<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/output.css" />
    <title>Document</title>
  </head>
  <body>
    <nav class="bor border border-black">
      <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
          <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
            <!-- Mobile menu button-->
            <button
              type="button"
              class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-800 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
              aria-controls="mobile-menu"
              aria-expanded="false"
            >
              <span class="absolute -inset-0.5"></span>
              <span class="sr-only">Open main menu</span>
              <!--
                Icon when menu is closed.
    
                Menu open: "hidden", Menu closed: "block"
              -->
              <svg
                class="block h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                />
              </svg>
              <!--
                Icon when menu is open.
    
                Menu open: "block", Menu closed: "hidden"
              -->
              <svg
                class="hidden h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
            </button>
          </div>
          <div
            class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
          >
            <div class="flex flex-shrink-0 items-center">
              <img
                class="h-8 w-auto"
                src="../../public/KK.png"
                alt="Kaam Konnect"
              />
            </div>
            <div class="hidden sm:ml-6 sm:block">
              <div class="flex space-x-4">
                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                <a
                  href="#"
                  class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white"
                  aria-current="page"
                  >Home</a
                >
                <a
                  href="#"
                  class="rounded-md px-3 py-2 text-sm font-medium text-gray-800 hover:bg-gray-700 hover:text-white"
                  >Team</a
                >
                <a
                  href="#"
                  class="rounded-md px-3 py-2 text-sm font-medium text-gray-800 hover:bg-gray-700 hover:text-white"
                  >Projects</a
                >
                <a
                  href="#"
                  class="rounded-md px-3 py-2 text-sm font-medium text-gray-800 hover:bg-gray-700 hover:text-white"
                  >Calendar</a
                >
              </div>
            </div>
          </div>
          <div
            class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
          >
            <!-- Profile dropdown -->
            <div class="relative ml-3">
              <div>
                <button
                  type="button"
                  class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
                  id="user-menu-button"
                  aria-expanded="false"
                  aria-haspopup="true"
                >
                  <span class="absolute -inset-1.5"></span>
                  <span class="sr-only">Open user menu</span>
                  <img
                    class="h-8 w-8 rounded-full"
                    src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                    alt=""
                  />
                </button>
              </div>

              <!--
                Dropdown menu, show/hide based on menu state.
    
                Entering: "transition ease-out duration-100"
                  From: "transform opacity-0 scale-95"
                  To: "transform opacity-100 scale-100"
                Leaving: "transition ease-in duration-75"
                  From: "transform opacity-100 scale-100"
                  To: "transform opacity-0 scale-95"
              -->
              <div
                class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                role="menu"
                aria-orientation="vertical"
                aria-labelledby="user-menu-button"
                tabindex="-1"
              >
                <!-- Active: "bg-gray-100", Not Active: "" -->
                <!-- <a
                  href="#"
                  class="block px-4 py-2 text-sm text-gray-700"
                  role="menuitem"
                  tabindex="-1"
                  id="user-menu-item-0"
                  >Your Profile</a
                >
                <a
                  href="#"
                  class="block px-4 py-2 text-sm text-gray-700"
                  role="menuitem"
                  tabindex="-1"
                  id="user-menu-item-1"
                  >Settings</a
                >
                <a
                  href="#"
                  class="block px-4 py-2 text-sm text-gray-700"
                  role="menuitem"
                  tabindex="-1"
                  id="user-menu-item-2"
                  >Sign out</a
                > -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Mobile menu, show/hide based on menu state. -->
      <div class="sm:hidden" id="mobile-menu">
        <div class="space-y-1 px-2 pb-3 pt-2">
          <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
          <a
            href="#"
            class="block rounded-md bg-gray-900 px-3 py-2 text-base font-medium text-white"
            aria-current="page"
            >Home</a
          >
          <a
            href="#"
            class="block rounded-md px-3 py-2 text-base font-medium text-gray-500 hover:bg-gray-700 hover:text-white"
            >About</a
          >
          <a
            href="#"
            class="block rounded-md px-3 py-2 text-base font-medium text-gray-500 hover:bg-gray-700 hover:text-white"
            >Work</a
          >
          <a
            href="#"
            class="block rounded-md px-3 py-2 text-base font-medium text-gray-500 hover:bg-gray-700 hover:text-white"
            >Worker</a
          >
        </div>
      </div>
    </nav>
    <!--carousel-->

    <!--Cardsssss-->
    <div class="flex flex-col">
      <div class="flex justify-start m-2 h-56 p-3 border border-slate-950">
        <div class="border border-black overflow-hidden min-w-48">
          <img
            src="../../public/KK logo.png"
            class="w-full h-full object-cover"
            alt=""
          />
        </div>
        <div class="flex flex-col border border-black justify-center">
          <div class="overflow-hidden flex justify-center">
            <p
              class="text-xl text-ellipsis font-semibold whitespace-nowrap overflow-hidden"
            >
              Worker:
            </p>
          </div>
          <div class="flex align-top justify-center">
            <p
              class="text-lg overflow-hidden text-ellipsis text-center"
            >
              Worker
            </p>
          </div>
          <div class="flex align-top justify-center">
            <p
              class="text-lg overflow-hidden text-center text-ellipsis whitespace-nowrap text-wrap"
            >
              skill
            </p>
          </div>
        </div>
        <div class="border border-black flex flex-col justify-center">
          <div class="flex overflow-hidden justify-center">
            <p
              class="text-xl font-semibold overflow-hidden text-ellipsis whitespace-nowrap"
            >
              Work title
            </p>
          </div>
          <div class="flex align-top justify-center">
            <p class="text-sm overflow-hidden text-ellipsis text-center">
              Lorem, ipsum dolor sit someothing something something
              asoidjfoasijd foiasjfopiasjd foijsadofijasoidfjsd something
              something something something something lor Lorem, ipsum dolor sit
              amet consectetur adipisicing elit. Quibusdam optio, aspernatur
              dolore culpa aperiam aliquam sunt sint d Lorem ipsum dolor, sit
              amet consectetur adipisicing elit. Cupiditate vero eos similique
              optio adipisci voluptate, omnis cum veritatis rerum fugiat
              exercitationem error consequuntur ullam itaque ipsam numquam ea
              nesciunt iste!login Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Ducimus, voluptas obcaecati! Numquam earum
              tenetur, pariatur consequatur sit, mollitia quaerat nihil
              laboriosam error assumenda ipsum, neque voluptate vitae dolor ex
              accusantium! Lorem ipsum dolor sit amet, consectetur adipisicing
              elit. Voluptatum praesentium eius, temporibus deserunt sequi
              impedit facere, ea libero sed vel, repellat omnis qui non fugiat
              
            </p>
          </div>
        </div>
        <div class="border border-black flex flex-col justify-center">
          <button
            class="mt-4 h-8 w-24 border border-black bg-green-800 text-fuchsia-50 rounded-full"
          >
            Apply
          </button>
          <button
            class="mt-4 h-8 w-24 border border-black bg-red-700 text-fuchsia-50 rounded-full"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
    <!--FOOTER-->
    <footer class="relative bg-gray-200 pt-8 pb-6">
      <div class="container mx-auto px-4">
        <div class="flex flex-wrap text-left lg:text-left">
          <div class="w-full lg:w-6/12 px-4">
            <h4 class="text-3xl font-semibold text-gray-700">
              Let's keep in touch!
            </h4>
            <h5 class="text-lg mt-0 mb-2 text-gray-600">
              Find us on any of these platforms, we respond in 1-2 business
              days.
            </h5>
            <div class="mt-6 lg:mb-0 mb-6">
              <button
                class="bg-white text-blue-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                type="button"
              >
                <img src="../../public/instagram.png" alt="" />
              </button>
              <button
                class="bg-white text-blue-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                type="button"
              >
                <img src="../../public/facebook.png" />
              </button>
              <button
                class="bg-white text-pink-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                type="button"
              >
                <img src="../../public/twitter.png" alt="" />
              </button>
              <button
                class="bg-white text-gray-800 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                type="button"
              >
                <img src="../../public/linkedin.png" alt="" />
              </button>
            </div>
          </div>
          <div class="w-full lg:w-6/12 px-4">
            <div class="flex flex-wrap items-top mb-6">
              <div class="w-full lg:w-4/12 px-4 ml-auto">
                <span
                  class="block uppercase text-gray-500 text-sm font-semibold mb-2"
                >
                  Useful Links
                </span>
                <ul class="list-unstyled">
                  <li>
                    <a
                      class="text-gray-600 hover:text-gray-800 font-semibold block pb-2 text-sm"
                      href=""
                    >
                      About Us
                    </a>
                  </li>
                  <li>
                    <a
                      class="text-gray-600 hover:text-gray-800 font-semibold block pb-2 text-sm"
                      href=""
                    >
                      Blog
                    </a>
                  </li>
                  <li>
                    <a
                      class="text-gray-600 hover:text-gray-800 font-semibold block pb-2 text-sm"
                      href=""
                    >
                      Github
                    </a>
                  </li>
                  <li>
                    <a
                      class="text-gray-600 hover:text-gray-800 font-semibold block pb-2 text-sm"
                      href=""
                    >
                      Free Products
                    </a>
                  </li>
                </ul>
              </div>
              <div class="w-full lg:w-4/12 px-4">
                <span
                  class="block uppercase text-gray-500 text-sm font-semibold mb-2"
                >
                  Other Resources
                </span>
                <ul class="list-unstyled">
                  <li>
                    <a
                      class="text-gray-600 hover:text-gray-800 font-semibold block pb-2 text-sm"
                      href=""
                    >
                      MIT License
                    </a>
                  </li>
                  <li>
                    <a
                      class="text-gray-600 hover:text-gray-800 font-semibold block pb-2 text-sm"
                      href=""
                    >
                      Terms &amp; Conditions
                    </a>
                  </li>
                  <li>
                    <a
                      class="text-gray-600 hover:text-gray-800 font-semibold block pb-2 text-sm"
                      href=""
                    >
                      Privacy Policy
                    </a>
                  </li>
                  <li>
                    <a
                      class="text-gray-600 hover:text-gray-800 font-semibold block pb-2 text-sm"
                      href=""
                    >
                      Contact Us
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-6 border-gray-300" />
        <div
          class="flex flex-wrap items-center md:justify-between justify-center"
        >
          <div class="w-full md:w-4/12 px-4 mx-auto text-center">
            <div class="text-sm text-gray-500 font-semibold py-1">
              Copyright © 2021 Notus JS by
              <a href="" class="text-gray-500 hover:text-gray-800">
                Bikesh Maharjan </a
              >.
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
