<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/output.css" />
    <title>Document</title>
  </head>
  <body>
    <nav class="mx-auto max-w-7xl px-2">
      <div class="">
        <img src="../../public/KK logo.png" alt="" />
      </div>
      <div>
        <ul>
          <li>
            <a href="/">
              <span>Home</span>
            </a>
          </li>
          <li>
            <a href="/">
              <span>About</span>
            </a>
          </li>
          <li>
            <a href="/">
              <span>Work</span>
            </a>
          </li>
          <li>
            <a href="/">
              <span>Worker</span>
            </a>
          </li>
        </ul>
      </div>
      <div>Log in</div>
      <div>Sign up</div>
    </nav>
  </body>
</html>
